<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BGMaster.gameMapper">

	<!-- 기록저장 -->
	<insert id="recordInsertUD" parameterType="bgm.bgmaster.domain.RecordDTO">
		INSERT into public.tbl_record (userid, gamecode, recordTime, recordCount)
		VALUES (#{userid}, #{gamecode}, #{recordTime}, #{recordCount})
	</insert>

	<!-- 기록저장 -->
	<insert id="recordInsertRPS" parameterType="bgm.bgmaster.domain.RecordDTO">
		INSERT into public.tbl_record (userid, gamecode, winorlose)
		VALUES (#{userid}, #{gamecode}, #{winorlose})
	</insert>
	
</mapper>


